\Africa_climate_change
\Africa_climate_change\Africa_climate_change.csv
\data_visualization_with_python_checkpoint
\ydata_profiling_projects\.idea
\ydata_profiling_projects\.venv
\ydata_profiling_projects\Tunisair_profiling\Tunisair_flights_dataset.csv
\ydata_profiling_projects\Diabetes.csv


