\data_visualization_with_python_checkpoint
\ydata_profiling_projects\.venv
\ydata_profiling_projects\.idea
\ydata_profiling_projects\Tunisair_profiling
\Tunisair_profiling
\ydata_profiling_projects\Diabetes_profiling\diabetes.csv
\Africa_climate_change
